//@font-face
//  src: url('../assets/fonts/Neue/Thin.otf') format('opentype')
//  font-family: 'Neue'
//  font-weight: 100
//  font-style: normal
//
//@font-face
//  src: url('../assets/fonts/Neue/ExtLt.otf') format('opentype')
//  font-family: 'Neue'
//  font-weight: 200
//  font-style: normal
//@font-face
//  src: url('../assets/fonts/Neue/Light.otf') format('opentype')
//  font-family: 'Neue'
//  font-weight: 300
//  font-style: normal
//@font-face
//  src: url('../assets/fonts/Neue/SemLt.otf') format('opentype')
//  font-family: 'Neue'
//  font-weight: 350
//  font-style: normal
//@font-face
//  src: url('../assets/fonts/Neue/Reg.otf') format('opentype')
//  font-family: 'Neue'
//  font-weight: 400
//  font-style: normal
//@font-face
//  src: url('../assets/fonts/Neue/Medium.otf') format('opentype')
//  font-family: 'Neue'
//  font-weight: 500
//  font-style: normal
//@font-face
//  src: url('../assets/fonts/Neue/Bold.otf') format('opentype')
//  font-family: 'Neue'
//  font-weight: 600
//  font-style: normal
//@font-face
//  src: url('../assets/fonts/Neue/Black.otf') format('opentype')
//  font-family: 'Neue'
//  font-weight: 700
//  font-style: normal
//
//@font-face
//  src: url('../assets/fonts/Neue/ThIt.otf') format('opentype')
//  font-family: 'Neue'
//  font-weight: 100
//  font-style: italic
//
//@font-face
//  src: url('../assets/fonts/Neue/ExLtIt.otf') format('opentype')
//  font-family: 'Neue'
//  font-weight: 200
//  font-style: italic
//
//@font-face
//  src: url('../assets/fonts/Neue/LtIt.otf') format('opentype')
//  font-family: 'Neue'
//  font-weight: 300
//  font-style: italic
//@font-face
//  src: url('../assets/fonts/Neue/SmLtIt.otf') format('opentype')
//  font-family: 'Neue'
//  font-weight: 350
//  font-style: italic
//@font-face
//  src: url('../assets/fonts/Neue/Italic.otf') format('opentype')
//  font-family: 'Neue'
//  font-weight: 400
//  font-style: italic
//@font-face
//  src: url('../assets/fonts/Neue/MedIta.otf') format('opentype')
//  font-family: 'Neue'
//  font-weight: 500
//  font-style: italic
//@font-face
//  src: url('../assets/fonts/Neue/BdIt.otf') format('opentype')
//  font-family: 'Neue'
//  font-weight: 600
//  font-style: italic
//@font-face
//  src: url('../assets/fonts/Neue/BlkIt.otf') format('opentype')
//  font-family: 'Neue'
//  font-weight: 700
//  font-style: italic

@font-face
  src: url('../assets/fonts/Neue Montreal/PPNeueMontreal-Variable.ttf') format('truetype-variations')
  font-family: 'Neue'
  font-weight: normal
  font-style: normal
//
//@font-face
//  src: url('../assets/fonts/Neue Montreal/PPNeueMontreal-Bold.woff2') format('woff2')
//  font-family: 'Neue'
//  font-weight: 700
//  font-style: normal
//
//@font-face
//  src: url('../assets/fonts/Neue Montreal/PPNeueMontreal-BoldItalic.woff2') format('woff2')
//  font-family: 'Neue'
//  font-weight: 700
//  font-style: italic
//
//@font-face
//  src: url('../assets/fonts/Neue Montreal/PPNeueMontreal-Medium.woff2') format('woff2')
//  font-family: 'Neue'
//  font-weight: 600
//  font-style: normal
//
//@font-face
//  src: url('../assets/fonts/Neue Montreal/PPNeueMontreal-Regular.woff2') format('woff2')
//  font-family: 'Neue'
//  font-weight: 500
//  font-style: normal
//
//@font-face
//  src: url('../assets/fonts/Neue Montreal/PPNeueMontreal-Book.woff2') format('woff2')
//  font-family: 'Neue'
//  font-weight: 400
//  font-style: normal
//
//@font-face
//  src: url('../assets/fonts/Neue Montreal/PPNeueMontreal-Italic.woff2') format('woff2')
//  font-family: 'Neue'
//  font-weight: 400
//  font-style: italic
//
//@font-face
//  src: url('../assets/fonts/Neue Montreal/PPNeueMontreal-Light.woff2') format('woff2')
//  font-family: 'Neue'
//  font-weight: 300
//  font-style: normal
//
//@font-face
//  src: url('../assets/fonts/Neue Montreal/PPNeueMontreal-Thin.woff2') format('woff2')
//  font-family: 'Neue'
//  font-weight: 200
//  font-style: normal
//
//@font-face
//  src: url('../assets/fonts/Neue Montreal/PPNeueMontreal-ThinItalic.woff2') format('woff2')
//  font-family: 'Neue'
//  font-weight: 200
//  font-style: italic

@font-face
  src: url('../assets/fonts/Monument/Thin.woff2') format('woff2')
  font-family: 'Monument'
  font-weight: 200
  font-style: normal
@font-face
  src: url('../assets/fonts/Monument/Light.woff2') format('woff2')
  font-family: 'Monument'
  font-weight: 300
  font-style: normal
@font-face
  src: url('../assets/fonts/Monument/Regular.woff2') format('woff2')
  font-family: 'Monument'
  font-weight: 400
  font-style: normal
@font-face
  src: url('../assets/fonts/Monument/Bold.woff2') format('woff2')
  font-family: 'Monument'
  font-weight: 500
  font-style: normal
@font-face
  src: url('../assets/fonts/Monument/Black.woff2') format('woff2')
  font-family: 'Monument'
  font-weight: 600
  font-style: normal

@mixin detail
  font-family: 'Neue', sans-serif
  font-size: 10px
  font-variation-settings: "wght" 350
  font-weight: normal

  @media only screen and (min-width: 2000px)
    font-size: 12px

@mixin link
  font-family: 'Neue', sans-serif
  font-size: 14px
  font-variation-settings: "wght" 400
  font-weight: normal
  text-decoration: underline

@mixin body
  font-family: 'Neue', sans-serif
  font-size: 18px
  font-variation-settings: "wght" 350
  font-weight: normal

@mixin body-big
  font-family: 'Neue', sans-serif
  font-size: 38px
  font-variation-settings: "wght" 300
  font-weight: normal

  @media only screen and (max-width: $b-mobile)
    font-size: 28px

@mixin title-medium-desktop
  font-family: 'Neue', sans-serif
  font-size: 76px
  font-variation-settings: "wght" 450
  font-weight: normal
  letter-spacing: -0.02em
  line-height: 79.8px

@mixin title-medium-tablet
  @include title-medium-desktop
  font-size: 55px
  line-height: 52px

@mixin title-medium
  @include title-medium-desktop

  @media only screen and (max-width: $b-tablet)
    @include title-medium-tablet

  @media only screen and (max-width: $b-mobile)
    font-size: 38px
    line-height: unset
    letter-spacing: unset

@mixin title-big
  font-family: 'Neue', Helvetica, sans-serif
  font-size: 108px
  font-variation-settings: "wght" 600
  font-weight: normal
  letter-spacing: -0.02em
  line-height: 100px
  vertical-align: baseline
  transform: translateY(calc($unit * 1))

  @media only screen and (max-width: $b-tablet)
    font-size: 90px
    line-height: 92.2px

  @media only screen and (max-width: $b-mobile)
    font-size: 55px
    line-height: 52px

    transform: translateY(calc($unit * 0.5))

@mixin process-step
  font-family: 'Neue', sans-serif
  font-variation-settings: "wght" 400
  font-weight: normal
  font-size: 14px
  line-height: unset
  margin: 0

h1
  @include title-big
  color: $c-white

  &.section__title
    user-select: none
    z-index: -1


h2
  @include title-medium
  color: $c-white
