*
  box-sizing: border-box
  margin: 0
  padding: 0
  text-decoration: none

@mixin grid($cols: 19, $useRows: false, $rows: 12)
  display: grid
  grid-template-columns: repeat($cols, $cell-width)
  gap: $unit
  padding: $unit

  @if $useRows
    grid-template-rows: repeat($rows, $cell-height)
